PORT=5000

MONGO_URL=mongodb://localhost:27017/shopnest-MERN

JWT_SECRET=your_jwt_secret_key_ahsbdfosnadlifbasidkjbsajkbdf

EMAIL_USER=yourgmail@gmail.com
EMAIL_PASS=your_app_password

CLOUDINARY_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

RAZORPAY_KEY_ID=rzp_test_xxxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxxxxxxxx